# ==========================================
# KONFIGURASI DATABASE POSTGRESQL (DOCKER)
# ==========================================
# Username untuk akses root database
POSTGRES_USER=admin_nusadaya

# Password untuk akses root database (GANTI DENGAN PASSWORD YANG KUAT)
POSTGRES_PASSWORD=rahasia_nusadaya_2026_kuat_sekali

# Nama database utama yang akan dibuat otomatis oleh Docker
POSTGRES_DB=db_nusadaya

# Alamat lengkap database (Harus cocok dengan 3 variabel di atas)
# Format: postgresql://USER:PASSWORD@db:5432/DB_NAME?schema=public
# Catatan: Kata "db" di tengah adalah nama service Docker, JANGAN diganti localhost
DATABASE_URL=postgresql://admin_nusadaya:rahasia_nusadaya_2026_kuat_sekali@db:5432/db_nusadaya?schema=public


# ==========================================
# KONFIGURASI REDIS (DOCKER)
# ==========================================
# Alamat koneksi Redis (Kata "redis" adalah nama service Docker)
REDIS_URL=redis://redis:6379


# ==========================================
# KONFIGURASI API (BACKEND ELYSIAJS)
# ==========================================
# Port yang digunakan oleh API (Biarkan 3001)
PORT=3001

# Kunci rahasia untuk membuat token Login (GANTI DENGAN KATA ACAK YANG PANJANG)
JWT_SECRET=kunci_rahasia_super_aman_untuk_login_admin_nusadaya_jangan_disebar


# ==========================================
# KONFIGURASI WEB (FRONTEND NEXT.JS)
# ==========================================
NEXT_PUBLIC_API_URL=/api
